<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Quyền thông báo cho Android -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.QLyChiTieu"
        tools:targetApi="31">

        <activity
            android:name=".giao_dien.ExportImportActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".giao_dien.thong_bao.NotificationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.QLyChiTieu"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name=".tien_ich.DailyNotificationReceiver"
            android:exported="false" /> <!-- Boot Receiver để thiết lập lại thông báo sau khi khởi động thiết bị -->
        <receiver
            android:name=".tien_ich.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".giao_dien.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".giao_dien.danh_muc.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".giao_dien.giao_dich.AddTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".giao_dien.nguoi_dung.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".giao_dien.nguoi_dung.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".giao_dien.man_hinh_chinh.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>